In [14]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

In [3]:
cofog = pd.read_excel('cofog_rus_mod2.xlsx')

c1 = cofog[['code','name','name']].dropna()
c2 = cofog[['code','name','name2']].dropna()
c3 = cofog[['code','name','name3']].dropna()
c4 = cofog[['code','name','name4']].dropna()
c5 = cofog[['code','name','name5']].dropna()

In [4]:
print(c1.shape,c2.shape,c3.shape,c4.shape,c5.shape)

(79, 3) (79, 3) (8, 3) (1, 3) (1, 3)

In [5]:

cols = ['code','name','name2']
c1.columns = cols
c2.columns = cols
c3.columns = cols
c4.columns = cols
c5.columns = cols
cofog = pd.concat([c1,c2,c3,c4,c5],axis=0,ignore_index=True)

In [6]:
cofog.shape

(168, 3)

In [13]:
cofog = cofog.drop_duplicates('name2')
cofog = pd.read_excel('cofog_rus_mod1.xlsx')
cofog['code2'] = cofog['code'].astype(str).str.ljust(4, '0')
cofog[['div','subdiv']] = cofog['code2'].str.extract(r'\d(\d\d)(\d)')
cofog = cofog.astype({'div': str, 'subdiv': str})
cofog[['div','subdiv','code']]

   div subdiv  code
0   01      0   701
1   01      1  7011
2   01      2  7012
3   01      3  7013
4   01      4  7014
5   01      5  7015
6   01      6  7016
7   01      7  7017
8   01      8  7018
9   02      0   702
10  02      1  7021
11  02      2  7022
12  02      3  7023
13  02      4  7024
14  02      5  7025
15  03      0   703
16  03      1  7031
17  03      2  7032
18  03      3  7033
19  03      4  7034
20  03      5  7035
21  03      6  7036
22  04      0   704
23  04      1  7041
24  04      2  7042
25  04      3  7043
26  04      4  7044
27  04      5  7045
28  04      6  7046
29  04      7  7047
30  04      8  7048
31  04      9  7049
32  05      0   705
33  05      1  7051
34  05      2  7052
35  05      3  7053
36  05      4  7054
37  05      5  7055
38  05      6  7056
39  06      0   706
40  06      1  7061
41  06      2  7062
42  06      3  7063
43  06      4  7064
44  06      5  7065
45  06      6  7066
46  07      0   707
47  07      1  7071
48  07      2  7072
49  07      3  7073
50  07      4  7074
51  07      5  7075
52  07      6  7076
53  08      0   708
54  08      1  7081
55  08      2  7082
56  08      3  7083
57  08      4  7084
58  08      5  7085
59  08      6  7086
60  09      0   709
61  09      1  7091
62  09      2  7092
63  09      3  7093
64  09      4  7094
65  09      5  7095
66  09      6  7096
67  09      7  7097
68  09      8  7098
69  10      0   710
70  10      1  7101
71  10      2  7102
72  10      3  7103
73  10      4  7104
74  10      5  7105
75  10      6  7106
76  10      7  7107
77  10      8  7108
78  10      9  7109

In [12]:
cofog.to_excel('cofog_rus_mod3.xlsx', index=False)

In [18]:
def tes(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None,
                   squeeze=False, dtype=None, engine=None, converters=None, true_values=None,
                   false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True,
                   verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None,
                   skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds):
    args = locals()
    args['io'] = 2
    print(args)
    
tes(1,2)

{'io': 2, 'sheet_name': 2, 'header': 0, 'names': None, 'index_col': None, 'usecols': None, 'squeeze': False, 'dtype': None, 'engine': None, 'converters': None, 'true_values': None, 'false_values': None, 'skiprows': None, 'nrows': None, 'na_values': None, 'keep_default_na': True, 'verbose': False, 'parse_dates': False, 'date_parser': None, 'thousands': None, 'comment': None, 'skipfooter': 0, 'convert_float': True, 'mangle_dupe_cols': True, 'kwds': {}}